* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #e53d3d;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    text-decoration: underline;
}

.product-list {
    width: 75%;
    padding: 20px;
}

.product-list h2 {
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 23%; /* 4 товара в ряд */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
}

.btn-blue {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2193e9;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__new {
position: absolute;
bottom: 0;
left: 0;
}

/* ORDER MODAL WINDOW*/
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1; /* Помещаем модальное окно поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включаем прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal__order-form {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1; /* Помещаем модальное окно поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включаем прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ширина модального окна */
}

.modal-content__order-form {
    background-color: #fff;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Ширина модального окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.top-bar .nav-item {
	      display: inline-block;
	    }

	    nav {
	      padding: 0px;
	    }

	    nav.top-bar-wrap {
	      background: #ffb66c;
	    }

	    .top-bar-wrap {
	      height: 40px;
	      line-height: 40px;
	    }

	    .main-nav-wrap {
	      height: 80px;
	      line-height: 80px;
	    }

	    nav.main-nav-wrap {
	      background: #7c2222;
	      font-size: 1.25rem
	    }

	    nav.top-bar-wrap ul,
	    nav.main-nav-wrap ul {
	      margin-bottom: 0px;
	      margin-top: 0px
	    }

	    a.nav-link:hover {
	      background: rgba(0, 0, 0, 0.2);
	      color: #fff;
	      border-left: 12px solid rgba(0, 0, 0, 0.3);
	    }

	    a.nav-link {
	      border-left: 12px solid transparent;
	      border-right: 12px solid transparent;
	      color: #f9f9f9;
	      text-transform: uppercase;
	      font-family: '
	      Rubik'
	      ,
	      sans-serif;
	      transform: skew(-25deg);
	      transition: all 400ms ease-out
	    }

	    a .inner-link {
	      display: inline-block;
	      transform: skew(25deg)
	    }

	    .nav-link {
	      padding: 0px;
	    }

	    .top-bar-wrap a {
	      padding-left: 200px;
	      height: 100px;
	      line-height: 41px;
	    }

	    .main-nav-wrap a {
	      padding-left: 18px;
	      display: flex;
          justify-content: center;
          flex-direction: column;
	    }

	    .brand-logo img {
	      height: 75px;
	      transform: skew(25deg)
	    }

	    .brand-phone a {
	      display: block;
	      font-size: 1.25em;
	      text-decoration: none;
	      color: #000000;
	      letter-spacing: 2px;
	      height: 40px;
	      line-height: 1.5em;
	      transform: skew(25deg)
	    }

	    .brand-phone,
	    .brand-logo {
	      padding: 40px;
	      position: absolute;
	      top: 0;
	      height: 120px;

	      transform: skewX(-25deg);
	    }

	    .brand-logo {
	      left: -30px;
	      padding-left: 70px;
	      background: #621616;
	      border-right: 2px solid #ffb66c;

	    }

	    .brand-phone {
	      right: 0;
	      right: -30px;
	      padding-right: 70px;
	      background: #ffb66c;
	      border-left: 3px solid #6c4013;
	    }